<div class="page-header">
<h2>What's happening...</h2>
</div>

<p class="btn btn-inverse"><%= link_to "What have you heard?", new_status_path %></p>

<% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin">
        | <%= link_to "Edit", edit_status_path(status) %>
        | <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you scared or something?"} %>
      </span>
    </div>
    </div>
<% end %>